%h1 Welcome

:textile
  This will be a proof of concept implementation of an "OpenTransact":http://opentransact.org based exchange as discussed here:

  * "Goals for OpenTransact Exchange Server":http://groups.google.com/group/opentransact/browse_thread/thread/34d308ed267c1105?hl=en_US
  * "OpenTransact Exchange conventions":http://groups.google.com/group/opentransact/browse_thread/thread/d0578f6b3c045b34?hl=en_US

